@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared style */
.display-flex{
    display: flex;
}
/* color name */
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: rgba(114, 114, 114, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

  /* header style */

  /* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    margin-bottom: 32px;
    font-size: 1rem;
    

}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}
.feature-title{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;

}
#quick-list{
   font-weight: 500; 
}
.feature-description{
    font-size: 1rem;
    max-width: 540px;

}
/* feature section related style */
.features{
    gap: 150px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    text-align: left;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.feature-card .section-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 18px;

}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img{
    width: 100%;
}
/* some facts related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsor related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
.footer{
    max-width: 1440px;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-description{
    text-align: center;
}
/* small size responsive media query  */

@media screen and (max-width: 576px) {
    .navbar, .nav-link, .teams, .features{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
        margin-left: 0;
    }
    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        
    }
    
    .feature-card .section-title{
        text-align: left;
    }
    .facts-container{
        justify-items: center;
        gap: 30px;
    }
    .section-title,
    .feature-description{
        text-align: center;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    .feature-card .feature-description{
        text-align: left;
        margin: 0;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
/* medium size responsive media query */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
        margin-left: 0;
    }
    .feature-card .section-title{
        text-align: left;
    }
    .features{
        flex-direction: column;
        margin: 20px 40px;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    .section-title,
    .feature-description{
        text-align: center;
        margin: 30px auto;
    }
    .feature-card .feature-description{
        text-align: left;
        margin: 0;
    }
    #experience-badge{ 
        margin-left: -30px;
    }
}
